node_modules
logs
.env
*.env

dist

prisma/migrations/*

.DS_Store

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs

pnpm-lock.yaml

redis.conf
redis_data

coverage